:root{
    --header-height: 55px;
    --content-height: calc(100vh - var(--header-height));
}

::selection {
    color: var(--selection);
    background: var(--foreground)
}

:root {
    --alert: #ff0080;
    --cyan: #50e3c2;
    --cyanDark: #29bc9b;
    --cyanLight: #79ffe1;
    --cyanLighter: #aaffec;
    --error: #e00;
    --errorDark: #c50000;
    --errorLight: #ff1a1a;
    --errorLighter: #f7d4d6;
    --redLight: #ff8280;
    --link: #3291ff;
    --magenta: #eb367f;
    --purple: #f81ce5;
    --success: #0070f3;
    --successDark: #0761d1;
    --successLight: #3291ff;
    --successLighter: #d3e5ff;
    --violet: #7928ca;
    --violetDark: #4c2889;
    --violetLight: #8a63d2;
    --violetLighter: #e3d7fc;
    --warning: #f5a623;
    --warningDark: #ab570a;
    --warningLight: #f7b955;
    --warningLighter: #ffefcf;
}

html[data-theme='dark'] {
    --accents-1: #111;
    --accents-2: #333;
    --accents-3: #444;
    --accents-4: #666;
    --accents-5: #888;
    --accents-6: #999;
    --accents-7: #eaeaea;
    --accents-8: #fafafa;
    --background: #000;
    --border: #333;
    --code: #79ffe1;
    --secondary: #888;
    --selection: #f81ce5;
    --foreground: #fff;
}

html[data-theme='light'] {
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;
    --background: #fff;
    --border: #eaeaea;
    --code: #f81ce5;
    --secondary: #666;
    --selection: #79ffe1;
    --foreground: #000;
}